
body {
	hyphens: auto;
	text-align: justify
}

h1, .h1 {
	margin-top: 100px;
} 

h2, .h2 {
	margin-top: 80px;
} 

h3, .h3 {
	margin-top: 60px;
} 

h4, .h4 {
	margin-top: 40px;
} 

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	color: #0072B2;
}

table {
	margin-top: 50px;
	margin-bottom: 50px;
}


img {
	page-break-before: auto; 
	page-break-after: auto; 
	page-break-inside: avoid; 
	margin-top: 50px;
	margin-bottom: 50px;
}

h4.author{
	margin-top: 30px;
	margin-bottom: 30px;
}


@page {  
	margin-left: 33cm;  
	margin-right: 8cm;  
	margin-top: 2cm;  
	margin-bottom: 2cm;  
}